.navbar-tab[data-v-4dd55880]{background:#333033;color:#f2f2f2;padding:20px}.navbar-tab[data-v-4dd55880]:hover{color:#3498db;cursor:pointer}.navbar-tab.router-link-exact-active[data-v-4dd55880]{background:#333033;color:#fff;font-size:15px;font-weight:700;border-bottom:5px solid #3498db}