<!DOCTYPE html>
<html lang=en>

<head>
    <base href=/>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <title>Deelance v1</title>
    <link rel=stylesheet href=https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css>
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons">
    <link rel=stylesheet href=./font.css>
    <link href=/css/chunk-01e27bcf.b93461c6.css rel=prefetch>
    <link href=/css/chunk-0514a806.75084605.css rel=prefetch>
    <link href=/css/chunk-05855478.b1fd8c65.css rel=prefetch>
    <link href=/css/chunk-233c3263.73f4209b.css rel=prefetch>
    <link href=/css/chunk-253ba69a.558a8eaa.css rel=prefetch>
    <link href=/css/chunk-296bd8c3.807dcd52.css rel=prefetch>
    <link href=/css/chunk-32348bef.1b5ee122.css rel=prefetch>
    <link href=/css/chunk-3cfed649.427e4c27.css rel=prefetch>
    <link href=/css/chunk-413956cf.f160a82e.css rel=prefetch>
    <link href=/css/chunk-57e1a234.0ec61050.css rel=prefetch>
    <link href=/css/chunk-57fa18d8.254d068e.css rel=prefetch>
    <link href=/css/chunk-5b0d24fe.4214479c.css rel=prefetch>
    <link href=/css/chunk-5f3f7894.33fd298e.css rel=prefetch>
    <link href=/css/chunk-71003eba.8528c891.css rel=prefetch>
    <link href=/css/chunk-7f2a41f6.dc9e55f0.css rel=prefetch>
    <link href=/css/chunk-7fe274b3.f160a82e.css rel=prefetch>
    <link href=/css/chunk-8a1f2348.851f957d.css rel=prefetch>
    <link href=/css/chunk-92595d06.0b59b355.css rel=prefetch>
    <link href=/css/chunk-9a80e650.f9df6a4c.css rel=prefetch>
    <link href=/css/chunk-b4d22800.38e71c9a.css rel=prefetch>
    <link href=/css/chunk-bbdc6a52.f9471161.css rel=prefetch>
    <link href=/css/chunk-d5d0bf26.def42aea.css rel=prefetch>
    <link href=/js/chunk-01e27bcf.1ba41d2f.js rel=prefetch>
    <link href=/js/chunk-0514a806.324a3a18.js rel=prefetch>
    <link href=/js/chunk-05855478.353965fd.js rel=prefetch>
    <link href=/js/chunk-184ba463.035b037e.js rel=prefetch>
    <link href=/js/chunk-233c3263.ee4aec92.js rel=prefetch>
    <link href=/js/chunk-253ba69a.d583aaf5.js rel=prefetch>
    <link href=/js/chunk-296bd8c3.6bc50833.js rel=prefetch>
    <link href=/js/chunk-2d212f1d.11f4d0ff.js rel=prefetch>
    <link href=/js/chunk-2d230447.78d00057.js rel=prefetch>
    <link href=/js/chunk-32348bef.5b6ba6a2.js rel=prefetch>
    <link href=/js/chunk-3cfed649.0c52a3bd.js rel=prefetch>
    <link href=/js/chunk-413956cf.3995670c.js rel=prefetch>
    <link href=/js/chunk-4d66bb7a.bdeb0138.js rel=prefetch>
    <link href=/js/chunk-57e1a234.87fa691a.js rel=prefetch>
    <link href=/js/chunk-57fa18d8.ebd543a0.js rel=prefetch>
    <link href=/js/chunk-5b0d24fe.6671b31e.js rel=prefetch>
    <link href=/js/chunk-5f3f7894.476cface.js rel=prefetch>
    <link href=/js/chunk-655344b6.1849ba12.js rel=prefetch>
    <link href=/js/chunk-71003eba.19298492.js rel=prefetch>
    <link href=/js/chunk-7f2a41f6.b1304bca.js rel=prefetch>
    <link href=/js/chunk-7fe274b3.8024f695.js rel=prefetch>
    <link href=/js/chunk-8a1f2348.ced73ffa.js rel=prefetch>
    <link href=/js/chunk-92595d06.e4150024.js rel=prefetch>
    <link href=/js/chunk-9a80e650.98c13076.js rel=prefetch>
    <link href=/js/chunk-b4d22800.63b33e7b.js rel=prefetch>
    <link href=/js/chunk-bbdc6a52.098e32e1.js rel=prefetch>
    <link href=/js/chunk-d5d0bf26.5dd3660b.js rel=prefetch>
    <link href=/css/app.c5b2ad10.css rel=preload as=style>
    <link href=/css/chunk-vendors.6f73f032.css rel=preload as=style>
    <link href=/js/app.7443fc78.js rel=preload as=script>
    <link href=/js/chunk-vendors.53a2bf4f.js rel=preload as=script>
    <link href=/css/chunk-vendors.6f73f032.css rel=stylesheet>
    <link href=/css/app.c5b2ad10.css rel=stylesheet>
</head>

<body><noscript><strong>We're sorry but Deelance.com doesn't work properly without JavaScript enabled. Please enable it
            to continue.</strong></noscript>
    <div id=app></div>
    <script src=/js/chunk-vendors.53a2bf4f.js></script>
    <script src=/js/app.7443fc78.js></script>
</body>

</html>