<!DOCTYPE html>
<html lang=en>

<head>
    <base href=/>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <!--[if IE]><link rel="icon" href="/favicon.ico"><![endif]-->
    <title>Deelance mini</title>
    <link href=/js/chunk-2d0b62f8.e1047606.js rel=prefetch>
    <link href=/js/chunk-2d0c8842.23bba6d8.js rel=prefetch>
    <link href=/js/chunk-2d0d338e.cd756f17.js rel=prefetch>
    <link href=/js/chunk-2d210a28.5e704298.js rel=prefetch>
    <link href=/css/app.fa62fc1b.css rel=preload as=style>
    <link href=/js/app.619f5d79.js rel=preload as=script>
    <link href=/js/chunk-vendors.5fae50cd.js rel=preload as=script>
    <link href=/css/app.fa62fc1b.css rel=stylesheet>
    <link rel=icon type=image/png sizes=32x32 href=/img/icons/favicon-32x32.png>
    <link rel=icon type=image/png sizes=16x16 href=/img/icons/favicon-16x16.png>
    <link rel=manifest href=/manifest.json>
    <meta name=theme-color content=#4DBA87>
    <meta name=apple-mobile-web-app-capable content=no>
    <meta name=apple-mobile-web-app-status-bar-style content=default>
    <meta name=apple-mobile-web-app-title content=deelance-mini>
    <link rel=apple-touch-icon href=/img/icons/apple-touch-icon-152x152.png>
    <link rel=mask-icon href=/img/icons/safari-pinned-tab.svg color=#4DBA87>
    <meta name=msapplication-TileImage content=/img/icons/msapplication-icon-144x144.png>
    <meta name=msapplication-TileColor content=#000000>
</head>

<body><noscript><strong>We're sorry but deelance-mini doesn't work properly without JavaScript enabled. Please enable it
            to continue.</strong></noscript>
    <div id=app></div>
    <script src=/js/chunk-vendors.5fae50cd.js></script>
    <script src=/js/app.619f5d79.js></script>
</body>

</html>