$font: 'Roboto', 'BoonBaan', sans-serif;

@font-face {
    font-family: BoonBaan;
    src: url('~@public/fonts/BoonBaan-Regular.otf') format("truetype");
    font-weight: 400;
    font-style: normal; }
  .boonbaan-400 {
    font-family: BoonBaan;
    font-weight: 400;
    font-style: normal; }
  
  @font-face {
    font-family: BoonBaan;
    src: url('~@public/fonts/BoonBaan-Bold.otf') format("truetype");
    font-weight: 700;
    font-style: normal; }
  .boonbaan-700 {
    font-family: BoonBaan;
    font-weight: 700;
    font-style: normal; }
  
    @font-face {
      font-family: 'roboto';
      src: url('~@public/fonts/Roboto-Regular.ttf') format("truetype");
      font-weight: 400;
      font-style: normal; }
    
    @font-face {
      font-family: 'roboto';
      src: url('~@public/fonts/Roboto-Bold.ttf') format("truetype");
      font-weight: 700;
      font-style: normal; }
  
  
  