input.input, textarea.textarea{
    box-shadow: none;
    box-shadow: unset;
    border-radius: 3px;
    border-color: #dbdbdb;
	background-color: #f9f9f9;
	font-family: $font;
}
label.label{
    color: #333;
    &.skip{
		display: flex;
		div{
			margin-left: auto;
			label{
				font-weight: normal;
				font-size: 14px;
			}
			input{
				margin-right: 5px;
			}
		}
	}
}

.mobile-num{
	.is-left{
		color: $primary-color !important;
		left: 5px;
		width: 5em !important;
		z-index: 0;
	}
	input{
		padding-left: 5.5em !important;
	}
}

.date-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Switch field start here
.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}
.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}
.switch-field label {
    flex-grow: 1;
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 1rem;
	line-height: 1;
	text-align: center;
	padding: 10px 16px;
	//border: 1px solid #dbdbdb;
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: $primary-color;
    box-shadow: none;
    color: #fff;
    border-color: $primary-color;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}
// Switch field end 


.msg-error{
	font-size: 16px;
	font-weight: normal;
}

.select {
	width: 100%;
	select{
		font-family: $font;
		&:hover{
			border:1px solid $gray;
		}
		&:focus{
			border:1px solid $gray;
			box-shadow: none;
			outline: none;
		}
	}
}
.select:not(.is-multiple):not(.is-loading)::after{
    border-left: 1px solid $primary-color;
	border-bottom: 1px solid $primary-color;
	z-index: 1;
}



