$font-title: 24px;
$font-info: 18px;
$font-info-mobile: 16px;
$font-title-mobile: 20px;

.page-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // height: 100vh;
    @include mobile{
        height: 100%;
    }
    .img{
        flex-grow: 1;
        img{
            width: 90%;
        }
    }
    .section-title{
        color: $primary-color;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 30px;
        text-align: center;
        @include mobile{
            font-size: 24px;
            margin-bottom: 15px;
        }
    }
    .section-info{
        text-align: center;
        img{
            width: 150px;
            margin: 0 auto;
        }
        .info-title{
            font-size: $font-title;
            font-weight: 700;
            @include mobile{
                font-size: $font-title-mobile;
            }
        }
        .info{
            font-size: $font-info;
            text-align: center;
            padding: 0 20px;
            @include mobile {
                font-size: $font-info-mobile;
            }
        }
        button.button{
            margin-top: 10px;
            font-family: $font;
            background-color: $primary-color;
            color: #fff;
            box-shadow: none;
            box-shadow: unset;
            border: none;
        }
    }
}