p,h6,h5,h4,h3,h2,h1,span,div{
    color: #333;
    font-family: 'Roboto', 'BoonBaan', sans-serif;
}

.title-xl{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    @include mobile{
        font-size: 20px;
        margin-bottom: 10px;
    }
}