@import 'font.scss';
@import 'color.scss';
@import 'input.scss';
@import 'screen.scss';
@import 'landing.scss';
@import 'type.scss';
@import 'tables.scss';

body, html{
    height: 100%;
    font-family: 'Roboto', 'BoonBaan', sans-serif;
}

.max-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 96%;
}